gr_translation_messenger[NODE_RED].json
[{"id":"d8aaa57a.085f28","type":"tab","label":"Translation and Messenger Connection","disabled":false,"info":""},{"id":"59624575.e97e3c","type":"http in","z":"d8aaa57a.085f28","name":"Messenger Verification Webhook","url":"/yourURL","method":"get","upload":false,"swaggerDoc":"","x":210,"y":260,"wires":[["65f78dec.239c24"]]},{"id":"65f78dec.239c24","type":"function","z":"d8aaa57a.085f28","name":"subscribe","func":"var mode = ''; \nvar vtoken = '';\nvar challenge = '';\nif (msg.payload['hub.mode']) { mode = msg.payload['hub.mode']; } \nif (msg.payload['hub.verify_token'])\n{ \n    vtoken = msg.payload['hub.verify_token']; \n    \n}\nif (msg.payload['hub.challenge']) { \n    challenge = msg.payload['hub.challenge']; \n    \n} \nif ('subscribe' == mode && 'TOKEN_HERE' == vtoken)\n{\n    msg.payload = challenge;\n    } \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":260,"wires":[["e90150f0.3f4c","9bcc32aa.1937f"]]},{"id":"e90150f0.3f4c","type":"http response","z":"d8aaa57a.085f28","name":"","statusCode":"","headers":{},"x":690,"y":300,"wires":[]},{"id":"9bcc32aa.1937f","type":"debug","z":"d8aaa57a.085f28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":200,"wires":[]},{"id":"2901f009.1adec","type":"http in","z":"d8aaa57a.085f28","name":"Messenger chat listener","url":"/yourURL","method":"post","upload":false,"swaggerDoc":"","x":200,"y":420,"wires":[["ff7d5451.91e058","4f6f8b4a.204f94"]]},{"id":"ff7d5451.91e058","type":"function","z":"d8aaa57a.085f28","name":"Look for messages","func":"if (msg.payload.object && 'page' == msg.payload.object) {\n    if (msg.payload.entry){\n        var entry = msg.payload.entry;\n        for (var i = 0; i < entry.length; i++) {\n            var pageID = entry[i].id; \n            var timeOfEvent = entry[i].time;\n            var messaging = entry[i].messaging;\n            for (var j =0; j < messaging.length; j++) { if (messaging[j].message) { msg.messagingEvent = messaging[j];\nnode.send([msg,null]);\n} } } } } \nreturn [null,msg];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":450,"y":480,"wires":[["10a4c3c3.1daacc"],["db350ba7.54a2b8"]]},{"id":"db350ba7.54a2b8","type":"http response","z":"d8aaa57a.085f28","name":"","statusCode":"","headers":{},"x":690,"y":500,"wires":[]},{"id":"4f6f8b4a.204f94","type":"debug","z":"d8aaa57a.085f28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":360,"wires":[]},{"id":"10a4c3c3.1daacc","type":"function","z":"d8aaa57a.085f28","name":"input setup","func":"// msg.payload=msg.payload.entry[0].messaging[0].message.text\n// return msg;\nmsg.fromMessenger = true;\nmsg.payload = msg.messagingEvent.message.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":440,"wires":[["df4f6fc8.2e2cb"]]},{"id":"430cfd7f.a06ca4","type":"debug","z":"d8aaa57a.085f28","name":"reply to facebook","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":580,"wires":[]},{"id":"78979f3a.a5a1a","type":"watson-conversation-v1","z":"d8aaa57a.085f28","name":"","workspaceid":"<WorkspaceID HERE>","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":580,"y":80,"wires":[["72342a06.8606e4"]]},{"id":"ab63a018.76d48","type":"watson-translator","z":"d8aaa57a.085f28","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"el","destlang":"en","password":"","apikey":"","custom":"","domainhidden":"general","srclanghidden":"el","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"","x":310,"y":80,"wires":[["78979f3a.a5a1a"]]},{"id":"cec1fad3.ad2358","type":"link in","z":"d8aaa57a.085f28","name":"","links":["df4f6fc8.2e2cb"],"x":115,"y":80,"wires":[["ab63a018.76d48"]]},{"id":"5d72ec5a.631ed4","type":"link out","z":"d8aaa57a.085f28","name":"output message","links":["e39a5f7f.68eab"],"x":935,"y":80,"wires":[]},{"id":"df4f6fc8.2e2cb","type":"link out","z":"d8aaa57a.085f28","name":"input message","links":["cec1fad3.ad2358"],"x":835,"y":440,"wires":[]},{"id":"e39a5f7f.68eab","type":"link in","z":"d8aaa57a.085f28","name":"","links":["5d72ec5a.631ed4"],"x":155,"y":580,"wires":[["f57d09db.537e58"]]},{"id":"72342a06.8606e4","type":"function","z":"d8aaa57a.085f28","name":"Output setup","func":"msg.facebookevent = msg.messagingEvent;\n// // msg.payload = 'Hello, this is all I say for now.';\n// return msg;\noutput = msg.payload.output.text.join(' ');\nmsg.payload = output;\n\nif (msg.fromMessenger) {\n    return [msg,msg];\n} else {\n    return [msg, null];\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":80,"wires":[["5d72ec5a.631ed4"]]},{"id":"f57d09db.537e58","type":"facebook-messenger-writer","z":"d8aaa57a.085f28","name":"","x":360,"y":580,"wires":[["430cfd7f.a06ca4"]]}]